* {
	margin: 0;
	padding: 0;
     box-sizing: border-box;
}

body {
	background-color: rgb(43,99,174);
}

.cancha{
	position: absolute;
	width: 100%;
	top:1px;
	margin: auto;
	z-index: -1;
}

#formulario_jugadores{
	background-color: rgba(0, 31, 125, 0.645);
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	border-radius: 10px;
    width: 50%;
    margin: 0.3rem auto 0 auto;
    padding: 1rem;
	align-items: center;
}

.nombreJugador1 {
	color: aliceblue;
}



.nombreJugador2 {
	color: aliceblue;
}

.servicio{
	color: aliceblue;
	padding:0.3rem;
	width: 150px;
	
}

.sets{
	color: aliceblue;
	padding:0.3rem;
}

.container {
	display: flex;
    flex-direction: column;
    background-color: rgba(0, 31, 125, 0.681);
    margin: 0.2rem auto;
    width: 50%;
	border-radius: 10px;
	padding: 0.5rem;
}

.titulos{
		display: grid;
		grid-template-columns: 10% 25% 30% 25% 10%;
		background-color: rgb(198, 255, 177);
		align-items: center;
		padding: 0.3rem;
}
.tit_servicio{
	text-align: center;
}

.jugador1 {
    display: grid;
	grid-template-columns: 10% 25% 30% 25% 10%;
    background-color: rgb(198, 255, 177);
    align-items: center;
}

.muestra_nombre {
	font-size: 1.5rem;
	overflow: hidden;
    white-space: nowrap;
	margin: 0.5rem;
}

#nombreJugador1 {
	width: 100%;
	background-color: rgb(198, 255, 177);
}
#nombreJugador2 {
	width: 100%;
	background-color: rgb(198, 255, 177);
}

.jugador2 {
    display: grid;
	grid-template-columns: 10% 25% 30% 25% 10%;
    background-color: rgb(198, 255, 177);
    align-items: center;
}

.flex {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	justify-items: center;
    align-items: stretch;
}


.muestra_set{
	color:red;
	font-size: 1rem;
	padding: 0.2rem;
    background-color: rgba(0, 31, 125, 0.366);
}

div .muestra_puntos {
	padding: 1rem;
	font-size: 2rem;
	height: auto;
	background-color: rgb(198, 255, 177);
}

.flex img {
	width: 50px;
	height: 50px;
}

button {
	width: 220px;
	padding: 0.5rem;
}

.botones_puntos{
display: inline;
margin: 0.5rem 0  0 1rem;
}


.informacion{
	position: fixed;
	top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
	border-radius: 10px;
	padding: 0.5rem;
	color: aliceblue;
	text-align: center;
	font-size: 4rem;
	margin-top: 2rem;
	/* animation: desvanecer 3s linear 3s forwards; */
}
/* @keyframes desvanecer {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  } */

.ladoAsp {
    top: 174px;
    left: -2px;
}

 #jugador1sacapar {
	visibility: hidden;
    position: fixed;
	font-size: 2rem;
	color: rgb(255, 0, 0);
    width: 10%;
    height: 10%;

}

.ladoAsi {
    top: 73px;
    left: -2px;
}

#jugador1sacaimpar {
	visibility: hidden;
    position: fixed;
	font-size: 2rem;
	color: rgb(255, 0, 0);
    width: 10%;
    height: 10%;
}

.ladoBsp {
    top: 93px;
    left: 427px;
}

#jugador2sacapar {
    position: fixed;
	visibility: hidden;
	font-size: 2rem;
	color: rgb(255, 255, 255);
	width: 10%;
    height: 10%;
}

.ladoBsi {
    top: 175px;
    left: 422px;
}

#jugador2sacaimpar {
    position: fixed;
	visibility: hidden;
	font-size: 2rem;
	color: rgb(255, 255, 255);
    width: 10%;
    height: 10%;
}

.ladoAdp{
    top: 184px;
    left: 97px;
}

#jugador1devuelvepar {
	visibility: hidden;
    position: fixed;
	font-size: 2rem;
	color: rgb(255, 0, 0);
    width: 10%;
    height: 10%;

}

.ladoAdi {
    top: 87px;
    left: 122px;
}

#jugador1devuelveimpar {
	visibility: hidden;
	position: fixed;
	font-size: 2rem;
	color: rgb(255, 0, 0);
    width: 10%;
    height: 10%;
}

.ladoBdp {
    top: 78px;
    left: 321px;
}

#jugador2devuelvepar {
	visibility: hidden;
    position: fixed;
	font-size: 2rem;
	color: rgb(255, 255, 255);
    width: 10%;
    height: 10%;
}

.ladoBdi {
    top: 186px;
    left: 329px;
}

#jugador2devuelveimpar {
    visibility: hidden;
    position: fixed;
	font-size: 2rem;
	color: rgb(255, 255, 255);
    width: 10%;
    height: 10%;
}



@media only screen and (max-width: 900px) {
	#formulario_jugadores {
		width: 100%;
		margin: 0rem auto;
		padding: 0.5 rem;
		align-items: center;
	}
	#nombreJugador1 {
		width: 100%;
		background-color: rgb(198, 255, 177);
	}
	#nombreJugador2 {
		width: 100%;
		background-color: rgb(198, 255, 177);
	}
	.container {
		position: fixed;
		top: 300px;
		margin: 0.2rem auto;
		width: 100%;
		border-radius: 10px;
		padding: 0rem;
	}
	.flex {
		margin: 0.3rem;
	}
	div .muestra_puntos {

		font-size: 1.5rem;
		height: auto;
		background-color: rgb(198, 255, 177);
	}
	.flex img {
		width: 25px;
		height: 25px;
		padding: 0px;
		margin: auto;
	}
}